.contextMenu {
  background-color: white;  
  color: black;
}

.contextMenu li:hover .ct_left {
  background-image: url(../bgs/bg_start_.png);
}
.contextMenu li:hover .ct_right {
  background-image: url(../bgs/bg_end_.png);
}
.contextMenu li:hover .ct_middle {
  background-image: url(../bgs/bg_mid_.png);
}
