.contextMenu {
  background-color: #3B3C3F;
  color: white;
}

.contextMenu li:hover .ct_left {
  background-image: url(../bgs/bg_start.png);
}
.contextMenu li:hover .ct_right {
  background-image: url(../bgs/bg_end.png);
}
.contextMenu li:hover .ct_middle {
  background-image: url(../bgs/bg_mid.png);
}
